<html>

<body>
  <link rel="icon" href="./img/logo_NOT_FINAL.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <div class="container-fluid" id="windows-bar">
    <div class="row" style="background-color: #207345">
      <div class="col-xl-6" id="left">
        <img id="left" src="./img/left-ribbon-list.jpg" class="img-fluid" alt="top-left-icons" />
      </div>
      <div class="col-xl-3" id="middle">
        <img id="middle" src="./img/top-middle-title.jpg" class="img-fluid" alt="top-middle-title" />
      </div>
      <div class="col-xl-3" id="right">
        <img id="right" src="./img/top-right-icons.jpg" class="img-fluid" alt="top-right-icons" />
      </div>
    </div>
  </div>

  <div class="row" id="file-bar" style="background-color: #F3F2F0">
    <div class="col-9" id="left">
      <img id="left" src="./img/left-ribbon-list.jpg" class="img-fluid" alt="left-ribbon-list" />
    </div>
    <div class="col-3" id="right">
      <img id="right" src="./img/right-ribbon-icons.jpg" class="img-fluid" alt="right-ribbon-icons" />
    </div>
  </div>

  <div class="row" id="main-bar">
    <div class="col" id="main">
      <img id="main" src="./img/main-ribbon-icons.jpg" class="img-fluid" alt="main-ribbon-icons" />
    </div>
  </div>
</body>

</html>