<html>
<body>
  <link rel="icon" href="assets/img/logo_NOT_FINAL.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="row" style="background-color: #F3F2F0">
      <div class="search-bar">
        <img class="img-fluid" id="search" src="assets/img/search-bar.jpg" alt="search-bar" />
      </div>
    </div>
</body>
</html>
