<div class="row">
  <div class="col-sm-1">{{counterInc}}</div>
  <div class="col-sm-1">UP</div>
  <div class="col-sm-1">DN</div>
  <div class="col-sm-1">LINK</div>
  <div class="col-sm-1">USER</div>
  <div class="col-sm-1">SUB</div>
  <div class="col-xl">TITLE</div>
  <div class="col-md-2">COMMENTS</div>
</div>

<div class="content--block">
  <div class="d-block" *ngFor="let subreddit of data">
    <app-title [addComments]="addComments" [getComments]="service" [lineNumber]="counterInc" [makeComment]="makeComment"
      [subreddit]="subreddit">
    </app-title>
  </div>
</div>

<!-- Sample data of subreddit:
author_fullname: "t2_21a8046r"
id: "bq7rky"
permalink: "/r/pics/comments/bq7rky/this_sign_shouldnt_have_to_exist/"
preview: {images: Array(1), enabled: true}
subreddit: "pics"
subreddit_name_prefixed: "r/pics"
thumbnail: "https://b.thumbs.redditmedia.com/COPEW8FioXPQtjdMoFOPnrHGC3FIsnbQ_LkpykeLShQ.jpg"
title: "This sign shouldn't have to exist"
url: "https://i.redd.it/816d81bit0z21.jpg" -->