<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table table-dark">
  <thead>
    <tr>
      <app-cell-identifiers [identifiers]="identifiers"></app-cell-identifiers>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex flex-row m-0 p-0">
      <app-cell-identifiers identifiers={{identifier}}></app-cell-identifiers>
    </tr>
  </tbody>
</table>