<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="d-flex flex-row p-2">
  <div class="p-2">
    >
  </div>
  <div class="p-2">
    A
  </div>
  <div class="p-2">
    B
  </div>
  <div class="p-2">
    C
  </div>
  <div class="p-2">
    D
  </div>
  <div class="p-2">
    E
  </div>
  <div class="p-2">
    F
  </div>
  <div class="p-2">
    G
  </div>
  <div class="p-2">
    H
  </div>
  <div class="p-2">
    I
  </div>
</div>