<div class="row" style="background-color: #207345">
  <img id="left" src="assets/img/top-left-icons.jpg" class="img-fluid" alt="top-left-icons" />
  <div class="top-middle-title">
    <img id="middle" src="assets/img/top-middle-title.jpg" class="img-fluid" alt="top-middle-title" />
  </div>
  <div class="top-right-icons">
    <img id="right" src="assets/img/top-right-icons.jpg" class="img-fluid" alt="top-right-icons" />
  </div>
</div>

<div class="row" id="file-bar" style="background-color: #F3F2F0">
  <div class="col-9 p-0" id="left">
    <img id="left" src="assets/img/left-ribbon-list.jpg" class="img-fluid" alt="left-ribbon-list" />
  </div>
  <div class="col p-0" id="right">
    <div class="right-ribbon-icons">
      <img id="right" src="assets/img/right-ribbon-icons.jpg" class="img-fluid" alt="right-ribbon-icons" />
    </div>
  </div>
</div>

<div class="row" id="main-bar">
  <div class="col" id="main">
    <img id="main" src="assets/img/main-ribbon-icons.jpg" class="img-fluid" alt="main-ribbon-icons" />
  </div>
</div>
